* {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

button:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

.container {
    padding: 0 80px;
}

.title {
    text-align: center;
    color: #061e37;
    font-size: 45px;
    font-weight: 600;
}

.desc {
    width: 560px;
    margin: 20px auto;
    color: #b0bec5;
    font-family: Raleway;
    line-height: 25px;
    text-align: center;
}

/* Promo section */
.promo {
    min-height: 750px;
    background: linear-gradient(-53deg, #00b8d4a9 0%, #1de9b691 100%), url(../image/background/promo_back.png) center center/cover no-repeat;

    padding: 50px 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo_wrap {
    display: flex;
    align-items: center;
}

.logo_img {
    margin-right: 10px;
}

.logo_text {
    color: #ffffff;
    line-height: 15px;
    text-transform: uppercase;
}

.logo_text span {
    font-weight: 700;
}

.nav {
    display: flex;
    align-items: center;
}

.nav_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_item {
    margin: 0 25px;
    opacity: 0.85;
    transition: opacity 0.2s ease;
}

.nav_item:hover {
    opacity: 1;
}

.nav_item a {
    color: #ffffff;
    font-weight: 600;
}

.promo_signup button {
    padding: 6px 20px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 12px;
    transition: all 0.3s ease;
}

.promo_signup button:hover {
    background-color: #ffffff2f;
}


.promo_content {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo_text {
    width: 45%;
}

.promo_title {
    color: #ffffff;
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    text-transform: uppercase;
}

.promo_descr {
    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
    opacity: 0.8;
}

.promo_buttons {
    margin-top: 38px;
}

.promo_btn {
    width: 150px;
    height: 55px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-weight: 700;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s ease;
}

.promo_btn_1 {
    background-color: #061e37;
    color: #ffffff;
    margin-right: 30px;
}

.promo_btn_2 {
    background-color: #ffffff;
    color: #061e37;
}

.promo_btn_1:hover {
    background-color: #ffffff;
    color: #061e37;
}

.promo_btn_2:hover {
    background-color: #061e37;
    color: #ffffff;
}

.promo_video {
    position: relative;
}

.promo_video video {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid #061e37;
}

.promo_play {
    position: absolute;
    width: 150px;
    top: calc(50% - 50px);
    left: calc(50% - 75px);
    text-align: center;
    color: #061e37;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.promo_play div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #061e37;
    margin: 0 auto 22px;
}

.promo_play div i {
    color: white;
}

/* Useful section */
.useful {
    min-height: 800px;
    padding: 100px 0;
}

.sub_title {
    color: #b0bec5;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.useful_content {
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
}

.useful_title {
    color: #061e37;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
}

.useful_desc {
    width: 345px;
    margin: auto;
    color: #78909c;
    line-height: 20px;
    text-align: center;
}

.useful_icon {
    text-align: center;
    padding-bottom: 35px;
}

.useful_icon i {
    font-size: 80px;
}

.useful_btn {
    display: block;
    margin: 75px auto;
    width: 150px;
    height: 55px;
    border-radius: 5px;
    background-color: #1de9b6;
    border: none;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.useful_btn:hover {
    background-color: #1ab68f;
}

/* Progress section*/
.progress {
    display: flex;
}

.progress_item {
    width: 25%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress_item_business {
    background-color: #80d8ff;
}

.progress_item_download {
    background-color: #82b1ff;
}

.progress_item_install {
    background-color: #b388ff;
}

.progress_item_user {
    background-color: #ea80fc;
}

.progress_wrap {
    display: flex;
    align-items: center;
}

.progress_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 20px;
}

.progress_icon i {
    font-size: 25px;
}

.progress_text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

/* Services section*/
.services {
    padding: 100px 0;
}

.service_content{
    margin-top: 45px;
}

.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tabs_wrap {
    display: flex;
    align-items: center;
}

.tab_item {
    width: 800px;
    height: 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0 auto 20px auto;
    padding: 0 25px 25px 25px;
    overflow: hidden;
    cursor: pointer;
}

.tab_item_active{
    height: 240px;
    cursor: default;
}

.tabs_icon {
    padding-right: 20px;
}

.tabs_icon i {
    color: #061e37;
    font-size: 20px;
}

.tabs_title {
    color: #061e37;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.tabs_text {
    width: 60%;
    font-weight: 400;
    letter-spacing: 0.45px;
}

.tabs_content {
    display: flex;
    justify-content: center;
}

.tabs_img {
    width: 35%;
    height: 155px;
    margin-right: 25px;
    background: url(../image/tabs/Rounded_Rectangle_53.png) center center/cover no-repeat;
}